.doc-main {
    display: block;
}

.header-main {
    font-size: 20px;
    text-align: center;
}

.text-header {
    margin-bottom: 20px;
}

.text-subtitle-one {
    font-size: 16px;
}

.scripts-main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.script-button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    height: 30px;
    width: 200px;
}

.script-one {
    margin-right: 20px;
}
